extends ../components/base/layout

block variables
  - const title = "AdCombo" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const hasMain = true
  - const mainMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +title-block("Закончились кредиты?")
    +swiper-price()


block modals
