.aside {
  position: relative;
  z-index: 1;

  display: none;
  padding: 14px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;

    border-radius: 10px;
  }

  &::before {
    z-index: -2;

    background-color: $color-default-white;
  }

  &::after {
    background: rgba(149, 100, 170, 0.1);
  }

  @include vp-768 {
    position: absolute;
    top: 20px;
    bottom: 28px;
    left: 30px;

    display: block;
    width: 270px;

    border: 2px solid rgba(149, 100, 170, 0.2);
    border-radius: 10px;
    transform: translate(-250px, 0);
    cursor: pointer;

    transition: transform $trans-default;
  }

  @include vp-1024 {
    position: static;

    transform: translate(0, 0);
    cursor: default;
  }

  &--open {
    transform: translate(0, 0);
    cursor: default;
  }

  &__user {
    display: flex;
    gap: 12px;

    padding-bottom: 17px;
  }

  &__avatar {
    flex-shrink: 0;
    width: 54px;
    height: 54px;

    border: 2px solid $color-default-white;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;

      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    gap: 6px;
  }

  &__username {
    font-weight: 700;
  }

  &__get-premium {
    padding: 5px 10px;

    font-size: 10px;
    color: $color-default-white;
    text-transform: uppercase;

    background: #684677;
    border-radius: 5px;
  }

  &__nav {
    position: relative;

    padding-top: 22px;
    padding-left: 14px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 2px;
      left: 2px;

      height: 2px;

      background: #9564aa;
      opacity: 0.2;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style-type: none;
    gap: 23px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
