.btn {
  display: block;
  padding: 18px;

  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: $color-default-black;

  background: $color-yellow;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
