.discount {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px;

  color: $color-default-white;

  background: #c15ca1;
  border-radius: 10px;
  gap: 10px 30px;

  @include vp-768 {
    display: flex;
  }

  &__discount {
    font-size: 40px;
    font-weight: 700;
    color: #ffcf2d;
    letter-spacing: 1.6px;
    -webkit-text-stroke: 1px #ffffff;
  }

  &__valid {
    font-weight: 700;
  }

  &__time {
    display: flex;
    align-items: center;
    min-height: 56px;
    gap: 10px;

    margin-left: auto;
    padding: 0 20px;

    font-size: 40px;
    color: $color-default-black;

    background: $color-default-white;
    border-radius: 5px;

    user-select: none;

    & > span:not(:first-child) {
      position: relative;

      &::before {
        content: ":";

        margin-right: 10px;
      }
    }
  }
}
