.header {
  height: 50px;
  padding: 5px 0;

  color: $color-default-white;

  background-color: $color-violet;

  transition: height $trans-default;

  .container {
    display: grid;
    grid-template-areas:
      "btn prem"
      "wrp wrp";
  }

  .header__toggle {
    width: 40px;
    height: 40px;

    background: url("../../img/svg/menu-btn.svg") no-repeat center;
    background-color: transparent;
    border: none;
    grid-area: btn;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  .header__wrapper {
    height: 0;
    grid-area: wrp;

    visibility: hidden;

    transition:
      visibility $trans-default,
      height $trans-default;
  }

  &__logo {
    display: flex;
    width: 68px;
    height: 33px;
    margin-top: 20px;

    line-height: 0;

    visibility: hidden;

    transition:
      opacity $trans-default,
      visibility $trans-default;

    @include vp-768 {
      display: flex;
      width: 114px;
      height: 55px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__link {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    min-width: 40px;
    min-height: 40px;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }

    &--premium {
      translate: 5px 0;
      grid-area: prem;
      justify-self: end;

      justify-content: center;

      span {
        @include vp-767 {
          @include visually-hidden;
        }
      }

      svg {
        width: 20px;
        height: 18px;
      }
    }
  }

  // / / / / / / / / / / / / /   /   /     is-open
  &.is-open {
    height: 100dvh;
    overflow-y: auto;

    .header__wrapper {
      height: auto;

      visibility: visible;
    }

    .header__logo {
      visibility: visible;
    }
  }
}
