.header {
  height: 50px;
  padding: 5px 0;

  font-size: 16px;
  font-weight: 700;
  color: $color-default-white;

  background-color: $color-violet;

  transition: height $trans-default;

  @include vp-768 {
    height: auto;
    min-height: 100px;
  }

  .container {
    display: grid;
    grid-template-areas:
      "btn prem"
      "wrp wrp";

    @include vp-768 {
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }

  .header__toggle {
    width: 40px;
    height: 40px;

    background: url("../../img/svg/menu-btn.svg") no-repeat center;
    background-color: transparent;
    border: none;
    grid-area: btn;

    transition: opacity $trans-default;

    @include vp-768 {
      display: none;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  .header__wrapper {
    height: 0;
    grid-area: wrp;

    visibility: hidden;

    transition:
      visibility $trans-default,
      height $trans-default;

    @include vp-768 {
      display: flex;
      gap: 40px;

      flex-grow: 1;
      align-items: center;
      height: auto;

      visibility: visible;
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    width: 68px;
    height: 33px;
    margin-top: 20px;

    line-height: 0;

    visibility: hidden;

    transition:
      opacity $trans-default,
      visibility $trans-default;

    @include vp-768 {
      display: flex;
      width: 114px;
      height: 55px;

      visibility: visible;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    @include vp-768 {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: end;
      gap: 16px;
    }
  }

  &__link {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    padding: 6px 13px;

    gap: 10px;

    @include vp-768 {
      min-height: auto;
      translate: 0 4px;
    }

    &--user {
      @include vp-768 {
        display: none;
      }
    }

    &--premium {
      flex-shrink: 0;
      justify-content: center;

      grid-area: prem;

      translate: 8px 0;
      justify-self: end;

      @include vp-768 {
        background: $color-violet-dark;
        border-radius: 10px;
        translate: 0 4px;
      }

      span {
        @include vp-767 {
          @include visually-hidden;
        }
      }

      svg {
        width: 20px;
        height: 18px;
      }
    }
  }

  // / / / / / / / / / / / / /   /   /     is-open
  &.is-open {
    height: 100dvh;
    overflow-y: auto;

    .header__wrapper {
      height: auto;

      visibility: visible;
    }

    .header__logo {
      visibility: visible;
    }
  }
}
