.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  & > .container {
    position: relative;

    display: block;
    overflow: hidden;

    @include vp-768 {
      display: grid;
      flex-grow: 1;
      padding-top: 20px;
      padding-bottom: 28px;
      padding-left: 80px;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    @include vp-1024 {
      padding-left: 30px;
      grid-template-columns: 270px 1fr;
    }

    .aside {
      margin-top: 10px;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
