.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
  overflow: hidden;

  .header,
  .footer {
    flex-shrink: 0;
  }

  & > .container {
    position: relative;

    display: block;
    padding-bottom: 20px;
    overflow: hidden;

    @include vp-768 {
      display: grid;
      flex-grow: 1;
      padding-bottom: 28px;
      padding-left: 80px;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    @include vp-1024 {
      padding-left: 30px;
      grid-template-columns: 270px 1fr;
    }

    .aside {
      margin-top: 30px;

      @include vp-768 {
        position: absolute;
        top: 0;
        bottom: 28px;
        left: 30px;

        display: block;
        width: 270px;

        transform: translate(-250px, 0);
      }

      @include vp-1024 {
        position: static;

        transform: translate(0, 0);
      }

      &--open {
        transform: translate(0, 0);
        cursor: default;

        &::before {
          background-color: $color-default-white;

          @include vp-768 {
            background-color: transparent;
          }
        }

        .aside__user .aside__arrow::before {
          content: "⇦";
        }
      }
    }
  }

  &__bubbles-left,
  &__bubbles-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: none;
    width: 50%;
    height: 100%;

    pointer-events: none;

    @include vp-768 {
      display: block;
    }

    img {
      position: absolute;
      top: 235px;
      right: 296px;

      filter: blur(5px);
    }
  }

  &__bubbles-right {
    right: 0;
    left: unset;

    img {
      top: 160px;
      right: unset;
      left: 364px;
    }
  }
}
