mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "People nearbu"
      },
      {
        href: "#",
        text: "Search"
      },
    ]

  header.header(class=headerMods)
    .container
      button.header__toggle.btn-reset(type="button", aria-label="Меню", aria-pressed="false")
        span.visually-hidden Меню
      .header__wrapper
        a.header__logo(href="index.html", aria-label="Переход на главную")
          span.visually-hidden На главную
          +picture(
            "logo",
            "Logo",
            "png",
            "114",
            "55",
            "Логотип."
          )
          ul.header__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li
                if(activeState)
                  span.header__link.is-active= link.text
                else
                  a.header__link(href=link.href)= link.text
          a.header__link.header__link--premiun
